<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        .box{
            margin:auto;
            padding: 10px;
            width: 500px;
            text-align: center;
            border: 2px solid gray;
            border-radius: 5px;
        }
        .logout{
            position: absolute;
            right: 30px;
        }
        .nav{
            color: white;
            background-color: teal;
            margin-bottom: 20px;
        }
        .nav a{
            color: white;
        }
        .nav a:hover{
            color: coral;
        }
        .nav-item{
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="nav">
        <h1 class="nav-item">Welcome, <%= name %></h1>
        <h2 class="nav-item"><a class="logout" href="/logout">Logout</a></h2>
    </div>
    <div class="box">
        <h2>Profile</h2>
        <table style="margin:auto">
            <tr>
                <th>Email:</th>
                <td><input disabled type="text" value="<%= email %>"></td>
            </tr>
            <tr>
                <th>Name:</th>
                <td><input disabled type="text" value="<%= name %>"></td>
            </tr>
            <tr>
                <th>Age:</th>
                <td><input disabled type="text" value="<%= age %>"></td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td><input disabled type="text" value="<%= gender %>"></td>
            </tr>
            <!-- <tr>
                <th>Image:</th>
                <td><img src="<%=  %>" alt=""></td>
            </tr> -->
        </table>
    </div>
</body>

</html>